#screen {
    width: 100%;
}

/* home page */

.nav {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    padding: 15px 20px;
    box-shadow: 0px 1px 14px lightgray;
    margin-bottom: 40px;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 2;
}

.logo {
    width: 5%;
    height: 60px;
}

.logo img {
    width: 100%;
    height: 100%;
}

.nav-link {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-link .nav-item h1 {
    font-weight: bold;
    font-size: smaller;
    text-transform: uppercase;
    color: #282c3f;
    cursor: pointer;
}

.nav-link .nav-item sup {
    font-size: xx-small;
    text-transform: uppercase;
    color: #ff3f6c;
    font-weight: bold;
}

.searchbar {
    width: 30%;
    display: flex;
    align-items: center;


}

.search-item {
    display: flex;
    justify-content: left;
    gap: 20px;
    width: 100%;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 10px 10px 10px 15px;


}

.search-item i {
    color: gray;

}

.search-item input {
    border: none;
    width: 100%;
    background-color: #f0f0f0;
    outline: none;
    font-size: smaller;
}

.search-item input ::placeholder {
    font-size: smaller;

}

.info {
    width: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-item:nth-child(1){
    display: none;
}

.info-item i {
    margin-bottom: 4px;
    cursor: pointer;
}

.info-item span {
    font-size: 12px;
    font-weight: bold;
    text-transform: capitalize;
    color: #282c3f;
    text-decoration: none;
    cursor: pointer;

}
.info-item button {
    font-size: 12px;
    font-weight: bold;
    text-transform: capitalize;
    color: #282c3f;
    text-decoration: none;
    cursor: pointer;

}

.loginScreen{
    width: 100%;
}
#loginScreen .nav{
    margin: 0;
    box-shadow: none;
}
.register-container{
    background-color: #fdefea;
    width: 100%;
    height: 100vh;
    /* border: 1px solid black; */
}
.left-register-content{
    width: 30%;
    margin:  10px auto;
    /* border: 1px solid black; */
    padding: 25px 0 0 0;
}
.login-img{
    width: 100%;
}
.login-img img{
    width: 100%;
}
.login-title {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #282c3f;
}
.login-title2 {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #282c3f;
}
a{
    text-decoration: none;
}
.left-register-content form{
    padding: 25px;
    background-color: #fff;
}
.left-register-content form input[type=password], [type=text],[type=email]{
    border: 1px solid lightgray;
    font-size: 15px;
    padding: 8px 10px;
    outline: none;
    margin-bottom: 10px;
    width: 100%;

}
.login-title span{
    font-size: 14px;
    font-weight: normal;
    margin: 0 5px;
    text-transform: lowercase;
    color: gray;
}
.left-register-content form ::placeholder{
    text-transform: capitalize;

}
.left-register-content form input:focus{
    outline: 1px solid black;

}
.form-t-and-c{
    font-size: 14px;
    color: gray
}
.t-c-style{
    color: #ff3f6c;
    font-weight: 600;
}
.sign-up-btn {
    width: 100%;
    font-size: 15px;
    padding: 10px 10px;
    margin: 15px 0 0 0;
    color: white;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
    background-color: #ff3f6c;
    border: none;
    border-radius: 4px;
    text-transform: uppercase;
}